# BEGIN Next.js
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow access to server.js for the proxy
  # Forward all requests to the Node.js application
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ server.js/$1 [L]
</IfModule>

# Prevent Directory Listing
Options -Indexes

# Error Handling
# Let Next.js handle errors where possible

